*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(38, 38, 38);
}
.header{
    width: 100%;
    height: 60px;
    background-color: black;
    
    
}
.header .logo{
    width: 200px;
    height: 59px;
    display: flex;
    align-items: center;
    
    


    
}
.header menu{
    width: 200px;
    height: 60px;
    border: 1px solid gray;
    
}
.header .logo img{
    width: 200px;
    height: 30px;
    margin-left: 20px;

}
.header .menu .item{
    width: 49px;
    height: 59px;
    border: 1px solid gray;

    
}
.container{
    display: grid;
    grid-template-columns: 320px 320px 320px 320px;
    grid-template-rows:  200px 200px 200px;
    gap: 20px;
    justify-content: center;
    padding: 20px;

}
.container .child{
    background-color: beige;
}
.container2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
.container2 .item{
    width: 80%;
    height: 40px;
    background-color: rgb(44, 42, 42);
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    
}
.container2 .item h4{
    color: aliceblue;
    text-align: center;
    align-content: center;
}
.container3 .img {
    width: 75%;
    height: 200px;

}
.container3 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
.container3 .img {
    width: 80%;
    height: 200px;
}
.title h3{
    font-size: 24px;
    padding: 20px;
    margin-left: 60px;
    color: gray;
}
.container4{
    display: grid;
    grid-template-columns:256px 256px 256px 256px 256px ;
    grid-template-rows: 300px;
    justify-content: center;
    gap: 20px;
    
}
.container4 .child{
    background-color: antiquewhite;
}
.container5{
    display: grid;
    grid-template-columns:256px 256px 256px 256px 256px ;
    grid-template-rows: 300px;
    justify-content: center;
    gap: 20px;
    
}
.container5 .child{
    background-color: antiquewhite;
}
.container5{
    display: grid;
    grid-template-columns:256px 256px 256px 256px 256px ;
    grid-template-rows: 300px;
    justify-content: center;
    gap: 20px;
    
}
.container5 .child{
    background-color: antiquewhite;
}
.container6{
    display: grid;
    grid-template-columns:256px 256px 256px 256px 256px ;
    grid-template-rows: 300px;
    justify-content: center;
    gap: 20px;
    
}
.container6 .child{
    background-color: antiquewhite;
}
.container7{
    display: grid;
    grid-template-columns:256px 256px 256px 256px 256px ;
    grid-template-rows: 300px;
    justify-content: center;
    gap: 20px;
    
}
.container7 .child{
    background-color: antiquewhite;
}
.container8{
    display: grid;
    grid-template-columns:256px 256px 256px 256px 256px ;
    grid-template-rows: 300px;
    justify-content: center;
    gap: 20px;
    
}
.container8 .child{
    background-color: antiquewhite;
}
.container9{
    display: grid;
    grid-template-columns:256px 256px 256px 256px 256px ;
    grid-template-rows: 300px;
    justify-content: center;
    gap: 20px;
    
}
.container9 .child{
    background-color: antiquewhite;
}
.container10{
    display: grid;
    grid-template-columns:256px 256px 256px 256px 256px ;
    grid-template-rows: 300px;
    justify-content: center;
    gap: 20px;
    
}
.container10 .child{
    background-color: antiquewhite;
}
.container11{
    display: grid;
    grid-template-columns:256px 256px 256px 256px 256px ;
    grid-template-rows: 300px;
    justify-content: center;
    gap: 20px;
    
}
.container11 .child{
    background-color: antiquewhite;
}
.container12{
    display: grid;
    grid-template-columns:256px 256px 256px 256px 256px ;
    grid-template-rows: 300px;
    justify-content: center;
    gap: 20px;
    
}
.container12.child{
    background-color: antiquewhite;
}.container13{
    display: grid;
    grid-template-columns:256px 256px 256px 256px 256px ;
    grid-template-rows: 300px;
    justify-content: center;
    gap: 20px;
    
}
.container13 .child{
    background-color: antiquewhite;
}


